<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:\Projects\UI-Auto\ui-automation\src\test\java\com\learning\smoketest\SearchCountryTest.java">
        <classes>
            <class name="com.learning.smoketest.SearchCountryTest">

            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:\Projects\UI-Auto\ui-automation\src\test\java\com\learning\smoketest\AnnotationsExample.java">
        <classes>
            <class name="com.learning.smoketest.AnnotationsExample">

            </class>
        </classes>
    </test>
</suite>